.f_ExtraLight {
    font-family: 'Tajawal-ExtraLight' !important;
}

.f_Light {
    font-family: 'Tajawal-Light' !important
}

.f_Regular {
    font-family: 'Tajawal-Regular' !important
}

.f_Medium {
    font-family: 'Tajawal-Medium' !important
}

.f_Bold {
    font-family: 'Tajawal-Bold' !important
}

.f_ExtraBold {
    font-family: 'Tajawal-ExtraBold' !important;
}